.is-justify-content-start {
  justify-content: start !important;
}

.is-justify-content-center {
  justify-content: center !important;
}

.is-justify-content-end {
  justify-content: end !important;
}

.has-background-gray-light {
  background-color: #f4f4f4 !important;
}

.has-border-gray {
  border: 1px solid #d1d1d1 !important;
}

.no-underline,
.no-underline > * {
  text-decoration: none !important;
}

.has-text-info,
.has-text-info > * {
  color: #0c7b91 !important;
}

.desktop-only {
  display: none !important;
}

@media (min-width: 768px) {
  .desktop-only {
    display: block !important;
  }
}

.mobile-only {
  display: block !important;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

.bg-custom-card-gray:hover {
  background-color: #e4eaed !important;
  cursor: pointer;
}

.has-bg-button-info {
  background-color: #0c7b91 !important;
}

.has-bg-button-info:hover {
  background-color: #0a6e81 !important;
}
