.boxTitle {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #25465f;
  z-index: 1;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .boxTitle {
    min-width: 70%;
  }
}

.isFlatBox {
  border: 2px solid #ddd;
}

.hasTextSuccess {
  color: #5ec846 !important;
}

.hasBgButtonInfo {
  background-color: #0c7b91 !important;
}

.hasBgButtonInfo:hover {
  background-color: #0a6e81 !important;
}
