.tabsPadding {
  padding: 15px 0 8px 0px !important;
}

.noBorder {
  border-bottom: none !important;
}
.noBorder:hover,
.noBorder:active,
.noBorder:focus {
  border-bottom: 2px solid #0C7B91 !important;
}
